body {
	color: #fff;
	position: static;
	background: radial-gradient(circle at -8.9% 50%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
	font-family: 'Roboto', sans-serif;
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #5cb85c;
	background-color: rgba(0, 0, 0, 0.267);
	outline: none;
	height: 40px;
	border-radius: 40px;
	
}
.form-control:focus {
	box-shadow:0px 0px 5px #5cb85c;
	border-color: #5cb85c;
	background-color: rgba(0, 0, 0, 0.267);
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
	
}
.signup-form h2 {
	color: #5cb85c;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after {
	content: "";
	height: 2px;
	width: 30%;
	background: #d4d4d4;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #ccc6c6;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #f2f3f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
	
}

.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
	margin-top: 40px ;
}
.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #5cb85c;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  

#role{
	width: 150px;
	height: 35px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.267);
	color: #5cb85c;

}
option{
	background-color: #dbdbdb;
	color: rgb(0, 0, 0);
}
#role:focus{
	box-shadow:0px 0px 5px #5cb85c;
	border: 2px solid #5cb85c;
}
.signup-form form{
	border-radius: 20px;
	background-color: rgba(14, 14, 14, 0.349);
}
textarea{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.267);
	border: 1px solid rgb(187, 187, 187);
	border-radius: 5px;
	color: #5cb85c;
}

.form-group .form-control{
	color: #5cb85c;
}
 #product_id,#product_name,#product_mrp,#product_weight{
	background-color: rgba(0, 0, 0, 0.267);
}

#pr_qu{
	display: none;
}


